<table class="table">
  <tbody>
    <tr>
      <td>Total usable volume in liters</td>
      <td>{{ product.total_usable_volume_in_liters }}</td>
    </tr>
      <tr>
      <td>Minimum_temperature_in_degrees_Celsius</td>
      <td>{{ product.minimum_temperature_in_degrees_Celsius }}</td>
    </tr>
      <tr>
      <td>Noise level in decibels</td>
      <td>{{ product.noise_level_in_decibels }}</td>
    </tr>
      <tr>
      <td>Total number of boxes</td>
      <td>{{ product.total_number_of_boxes }}</td>
    </tr>
      <tr>
      <td>Number of drawers</td>
      <td>{{ product.number_of_drawers }}</td>
    </tr>
      <tr>
      <td>Number of drawers with doors</td>
      <td>{{ product.number_of_drawers_with_doors }}</td>
    <tr>
      <td>Power consumption in watts</td>
      <td>{{ product.power_consumption_in_watts }}</td>
    </tr>
    <tr>
      <td>Refrigerant</td>
      <td>{{ product.refrigerant }}</td>
    </tr>
    <tr>
  </tbody>
</table>

