<table class="table">
  <tbody>
    <tr>
      <td>Number of ram slots</td>
      <td>{{ product.number_of_ram_slots }}</td>
    </tr>
      <tr>
      <td>Video card type</td>
      <td>{{ product.video_card_type }}</td>
    </tr>
      <tr>
      <td>Video processor</td>
      <td>{{ product.video_processor }}</td>
    </tr>
      <tr>
      <td>Memory storage type</td>
      <td>{{ product.memory_storage_type }}</td>
    </tr>
      <tr>
      <td>Screen refresh rate hertz</td>
      <td>{{ product.screen_refresh_rate_hertz }}</td>
    </tr>
      <tr>
      <td>Screen size</td>
      <td>{{ product.screen_size }}</td>
    </tr>
      <tr>
      <td>Screen resolution</td>
      <td>{{ product.screen_resolution }}</td>
    </tr>
      <tr>
      <td>Screen matrix</td>
      <td>{{ product.screen_matrix }}</td>
    </tr>
      <tr>
      <td>CPU name</td>
      <td>{{ product.cpu_name }}</td>
    </tr>
      <tr>
      <td>RAM in gigabytes</td>
      <td>{{ product.ram_in_gigabytes }}</td>
    </tr>
      <tr>
      <td>Weight</td>
      <td>{{ product.weight }}</td>
    </tr>
      <tr>
      <td>Operating system</td>
      <td>{{ product.operating_system }}</td>
    </tr>
      <tr>
      <td>Battery capacity in milliamps</td>
      <td>{{ product.battery_capacity_in_milliamps }}</td>
    </tr>
      <tr>
      <td>Built in memory in gigabytes</td>
      <td>{{ product.built_in_memory_in_gigabytes }}</td>
    </tr>
  </tbody>
</table>
