<table class="table">
  <tbody>
    <tr>
      <td>Number of camera</td>
      <td>{{ product.number_of_camera }}</td>
    </tr>
      <tr>
      <td>Number of SIM-cards</td>
      <td>{{ product.number_of_sim_cards }}</td>
    </tr>
      <tr>
      <td>Screen refresh rate hertz</td>
      <td>{{ product.screen_refresh_rate_hertz }}</td>
    </tr>
      <tr>
      <td>Screen size</td>
      <td>{{ product.screen_size }}</td>
    </tr>
      <tr>
      <td>Screen resolution</td>
      <td>{{ product.screen_resolution }}</td>
    </tr>
      <tr>
      <td>Screen matrix</td>
      <td>{{ product.screen_matrix }}</td>
    <tr>
      <td>CPU name</td>
      <td>{{ product.cpu_name }}</td>
    </tr>
    <tr>
      <td>RAM in gigabytes</td>
      <td>{{ product.ram_in_gigabytes }}</td>
    </tr>
    <tr>
      <td>Weight</td>
      <td>{{ product.weight }}</td>
    </tr>
    <tr>
      <td>Operating system</td>
      <td>{{ product.operating_system }}</td>
    </tr>
    <tr>
      <td>Battery capacity in milliamps</td>
      <td>{{ product.battery_capacity_in_milliamps }}</td>
    </tr>
    <tr>
      <td>Built_in_memory_in_gigabytes</td>
      <td>{{ product.built_in_memory_in_gigabytes }}</td>
    </tr>
  </tbody>
</table>


